body {
    background-color: ghostwhite;
    box-sizing: border-box;
    margin: 0;
}

#registrationForm {
    width: 20vw;
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
