/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - General  */

body {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: auto;
    overscroll-behavior: none;
}

#layout-top-line {
    width: 100vw;
    border-bottom: 1px solid rgba(43, 70, 139, 255);
    position: absolute;
    top: 10vh;
}

#layout-bottom-line {
    width: 100vw;
    border-bottom: 1px solid rgba(43, 70, 139, 255);
    position: absolute;
    bottom: 5vh;
}

#link {
    text-decoration: none;
    color: rgba(198, 85, 71, 255);
    font-family: "Comfortaa";
    font-weight: 700;
}

.error {
    color: red;
    padding-top: 1vw;
}

.tab {
    width: 15vw;
    border-left: black solid 1.5px;
    border-top: black solid 1.5px;
    border-right: black solid 1.5px;
    box-shadow: 5px 5px black;
    font-family: "Comfortaa";
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 0px;
    padding-top: 1.5vw;
    z-index: 1;
}

.tab-inactive {
    height: 3vw;
    background-color: rgba(260, 160, 50, 255);
}

.tab-active {
    height: 5vw;
    background-color: rgba(230, 110, 40, 255);
}

#tab-people {
    margin-left: 2vw;
}

#tab-friends {
    margin-left: 20vw;
}

#tab-chat {
    margin-left: 38vw;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Welcome page  */

#welcome-page {
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
    align-items: center;
}

#welcome-page > div {
    width: 50vw;
    height: 85vh;
    padding-left: 5vw;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: "Comfortaa";
    font-size: 1vw;
}

#welcome-page > div > h1 {
    font-size: 5vw;
}

#welcome-image {
    width: 60vw;
    height: auto;
}

#logo {
    height: 10vh;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    font-family: "Fredoka One";
    font-weight: 400;
    font-size: 3vw;
    color: rgba(43, 70, 139, 255);
}

.reg-login-form {
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    text-align: center;
    padding-bottom: 2vh;
}

.reg-login-form input {
    margin-bottom: 1vh;
    text-decoration: none;
    border: solid 1.4px black;
    height: 4vh;
    font-family: "Comfortaa";
    font-size: 1vw;
    padding-left: 1vh;
    display: flex;
    justify-content: center;
}

.reg-login-button {
    height: 6vh;
    background-color: rgba(116, 153, 241, 255);
    color: white;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px black;
    font-family: "Fredoka One";
    font-weight: 700;
}

#login-form {
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    text-align: center;
}

#login-form input {
    margin-bottom: 1vh;
    text-decoration: none;
    border: solid 1.4px black;
    height: 4vh;
    font-family: "Comfortaa";
    font-size: 1vw;
    padding-left: 1vh;
    display: flex;
    justify-content: center;
}

#login-button {
    height: 6vh;
    background-color: rgba(116, 153, 241, 255);
    color: white;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px black;
    font-family: "Fredoka One";
    font-weight: 400;
}

#resetPage {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    text-align: center;
}

#resetForm {
    width: 15vw;
    color: blue;
    display: flex;
    flex-direction: column;
    background-color: coral;
    text-align: center;
}

#resetButton {
    background-color: red;
}

#verifyPasswordForm {
    width: 15vw;
    color: blue;
    display: flex;
    flex-direction: column;
    background-color: coral;
    text-align: center;
}

#verifyPasswordButton {
    background-color: red;
}

#welcome-footer {
    height: 1.5vh;
    margin-right: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Comfortaa";
    font-size: 1vw;
    color: rgba(43, 70, 139, 255);
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Main page  */

#main-image {
    width: 35vw;
    height: auto;
    position: absolute;
    right: 1vw;
    bottom: 4vw;
    z-index: -5;
}

#main-image-kids {
    width: 30vw;
    height: auto;
    position: absolute;
    left: 1vw;
    bottom: 4.5vw;
    z-index: -5;
}

#link-main {
    cursor: pointer;
    text-decoration: none;
    height: 4vh;
    margin-right: 5vw;
    display: flex;
    align-items: center;
    font-family: "Comfortaa";
    font-weight: 200;
    font-size: 1.4vw;
    color: rgba(43, 70, 139, 255);
    position: absolute;
    top: 7vw;
    right: 15vw;
}

#link-profile {
    cursor: pointer;
    text-decoration: none;
    height: 4vh;
    margin-right: 5vw;
    display: flex;
    align-items: center;
    font-family: "Comfortaa";
    font-weight: 200;
    font-size: 1.4vw;
    color: rgba(43, 70, 139, 255);
    position: absolute;
    top: 10vw;
    right: 15vw;
}

#link-logout {
    text-decoration: none;
    height: 4vh;
    margin-right: 5vw;
    display: flex;
    align-items: center;
    font-family: "Comfortaa";
    font-weight: 200;
    font-size: 1.4vw;
    color: rgba(43, 70, 139, 255);
    position: absolute;
    top: 13vw;
    right: 15vw;
}

#main-greeting {
    width: 30vw;
    margin-left: 32vw;
    margin-top: 9vw;
    line-height: 0.2vw;
    text-align: center;
    font-family: "Fredoka One";
    font-weight: 400;
    font-size: 6vw;
    color: rgba(43, 70, 139, 255);
}

#main-introduction {
    height: 15vw;
    width: 33vw;
    margin-left: 31vw;
    margin-top: 4vw;
    font-family: "Comfortaa";
    font-weight: 200;
    font-size: 1.4vw;
    color: rgba(43, 70, 139, 255);
    line-height: 2.5vw;
    z-index: 50;
    text-align: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Profile  */

#profile-pic img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 1.5vw;
    right: 2vw;
    border: 10px solid rgba(221, 229, 232, 255);
}

#profile-pic h2 {
    text-decoration: none;
    height: 10vh;
    margin-right: 5vw;
    margin-top: 3vw;
    display: flex;
    align-items: center;
    font-family: "Fredoka One";
    font-weight: 400;
    font-size: 3vw;
    color: rgba(43, 70, 139, 255);
    position: absolute;
    top: -3vw;
    right: 15vw;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Editor  */

.editor-image {
    position: absolute;
    top: 8vw;
    left: 2vw;
    width: 35vw;
    height: auto;
}

#editor-bio {
    width: 25vw;
    position: absolute;
    top: 22vw;
    left: 39vw;
    font-family: "Comfortaa";
    font-weight: 200;
    font-size: 1.2vw;
    line-height: 2vw;
}

#editor-bio button {
    height: 4vh;
    width: 8vw;
    background-color: rgba(116, 153, 241, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px black;
    font-family: "Comfortaa";
    font-weight: 700;
    border: black solid 1.5px;
}

#editor-bio h2 {
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 1.4vw;
    color: black;
}

#editor-upload {
    width: 20vw;
    position: absolute;
    top: 7vw;
    left: 39vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

#editor-upload h2 {
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 1.4vw;
    color: black;
}

#editor-upload-picture {
    height: 7vh;
    width: 16vw;
}

#editor-upload-submit {
    height: 4vh;
    width: 8vw;
    background-color: rgba(116, 153, 241, 255);
    color: white;
    box-shadow: 5px 5px black;
    font-family: "Comfortaa";
    font-weight: 700;
    border: black solid 1.5px;
}

.uploader-error {
    color: red;
    font-family: "Comfortaa";
    font-weight: 700;
    padding-top: 1vw;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Other people  */

#others img {
    position: absolute;
    top: 8vw;
    left: 2vw;
    width: 25vw;
    height: auto;
    border: black solid 1.5px;
}

#others h2 {
    font-family: "Comfortaa";
    font-weight: 200;
    font-size: 1.4vw;
    color: black;
    font-weight: 700;
    position: absolute;
    top: 12vw;
    left: 30vw;
}

#others p {
    width: 25vw;
    position: absolute;
    top: 15vw;
    left: 30vw;
    font-family: "Comfortaa";
    font-weight: 200;
    font-size: 1.2vw;
    line-height: 2vw;
}

#others-button {
    height: 5vh;
    width: 14vw;
    background-color: rgba(116, 153, 241, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px black;
    font-family: "Comfortaa";
    font-weight: 700;
    border: black solid 1.5px;
    position: absolute;
    left: 30vw;
    top: 8vw;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - People search  */

#people-info {
    padding-left: 0;
    width: 51vw;
    height: 35vw;
    list-style-type: none;
    position: absolute;
    top: 8vw;
    left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Comfortaa";
    font-weight: 200;
    font-size: 1.2vw;
    color: black;
    background-color: rgba(221, 229, 232, 255);
    border-radius: 1.5vw;
}

#people-info li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2vw;
}

#people-info img {
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    object-fit: cover;
    margin: 1.2vw;
}

#people-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vw;
    left: 14vw;
}

#people-search p {
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 1.4vw;
    color: black;
}

#people-search input {
    text-decoration: none;
    height: 5vh;
    width: 12vw;
    font-family: "Comfortaa";
    font-size: 1vw;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px black;
    font-family: "Comfortaa";
    font-weight: 700;
    border: black solid 1.5px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Friends  */

#list-background {
    padding-left: 0;
    width: 51vw;
    height: 35vw;
    list-style-type: none;
    position: absolute;
    top: 9vw;
    left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Comfortaa";
    font-weight: 200;
    font-size: 1.2vw;
    color: black;
    background-color: rgba(221, 229, 232, 255);
    border-radius: 1.5vw;
}

#list-friends {
    width: 51vw;
    height: 24vw;
    list-style-type: none;
    position: absolute;
    top: 11vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: scroll;
    font-family: "Comfortaa";
    font-weight: 200;
    font-size: 1.2vw;
    color: black;
}

#list-friends div {
    height: 18vw;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5vw;
}

#list-friends img {
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    object-fit: cover;
    margin: 1.2vw;
}

#list-friends button {
    height: 2vw;
    width: 6vw;
    background-color: rgba(116, 153, 241, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px black;
    font-family: "Comfortaa";
    font-weight: 700;
    border: black solid 1.5px;
}

#list-wannabes-background {
    padding-left: 0;
    width: 51vw;
    height: 38vw;
    list-style-type: none;
    position: absolute;
    top: 9vw;
    left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Comfortaa";
    font-weight: 200;
    font-size: 1.2vw;
    color: black;
    background-color: rgba(221, 229, 232, 255);
    border-radius: 1.5vw;
}

#list-wannabes {
    width: 51vw;
    height: 26vw;
    list-style-type: none;
    position: absolute;
    top: 11vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: scroll;
    font-family: "Comfortaa";
    font-weight: 200;
    font-size: 1.2vw;
    color: black;
}

#list-wannabes div {
    height: 22vw;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5vw;
}

#list-wannabes img {
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    object-fit: cover;
    margin: 1.2vw;
}

#list-wannabes button {
    height: 2vw;
    width: 5.5vw;
    background-color: rgba(116, 153, 241, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px black;
    font-family: "Comfortaa";
    font-weight: 700;
    border: black solid 1.5px;
    margin-bottom: 0.75vw;
}

#button-friends {
    border: black solid 1.5px;
    box-shadow: 5px 5px black;
    width: 7vw;
    font-family: "Comfortaa";
    font-weight: 700;
    text-align: center;
    margin-left: 2vw;
    position: absolute;
    top: 8.5vw;
    z-index: 1;
}

#button-requests {
    border: black solid 1.5px;
    box-shadow: 5px 5px black;
    width: 7vw;
    font-family: "Comfortaa";
    font-weight: 700;
    text-align: center;
    margin-left: 10vw;
    position: absolute;
    top: 8.5vw;
    z-index: 1;
}

.button-active {
    height: 5vw;
    background-color: rgba(230, 110, 40, 255);
}

.button-inactive {
    height: 3vw;
    background-color: rgba(260, 160, 50, 255);
}

.list-title {
    display: flex;
    align-items: center;
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 1.4vw;
    color: black;
    position: absolute;
    top: 10vw;
    right: 49vw;
    z-index: 1;
}

#scroll {
    display: flex;
    align-items: center;
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 1.4vw;
    color: rgba(230, 110, 40, 255);
    position: absolute;
    top: 12vw;
    right: 49vw;
    z-index: 1;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Chat  */

#chat {
    background-color: rgba(221, 229, 232, 255);
    border-radius: 1.5vw;
    width: 32vw;
    height: 38vw;
    position: absolute;
    left: 30vw;
    top: 8.5vw;
    overflow: hidden;
}

#chat-send {
    display: flex;
    flex-direction: row;
}

#chat textarea {
    height: 3.2vw;
    width: 24vw;
    margin-left: 1vw;
    font-family: "Comfortaa";
    font-weight: 700;
    padding-left: 1vw;
    padding-top: 1vw;
}

#chat button {
    border: black solid 1.5px;
    box-shadow: 5px 5px black;
    width: 4.5vw;
    height: 4.5vw;
    font-family: "Comfortaa";
    font-weight: 700;
    text-align: center;
    z-index: 1;
}

#chat-display {
    height: 30vw;
    display: flex;
    flex-direction: column-reverse;
    margin: 1vw;
    margin-right: 2vw;

    overflow: scroll;
}

#chat-display img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
    padding-right: 1vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
}

#chat-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2vw;
}

#chat-message-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#chat-message-text h4 {
    color: black;
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0.05;
}

#chat-message-text p {
    color: black;
    font-family: "Comfortaa";
    font-weight: 500;
    font-size: small;
    margin-bottom: 0;
    margin-top: 0;
}
